# keys
keys/
*/build/
*/build*/
*/*build*/
/.idea/
*/init-db.sql

vs/
/node_modules/

.env

# Compiled class file
*.class

# Log file
*.log

# BlueJ taskFiles
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
####################################### Spring Boot ########################################
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.task
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*/.vs/
/server/nohup.out
/desktop/buildWin/
/desktop/cmake-build-debug/
/server/init-db.sql
/server/Azion/src/test/
/server/Azion/src/main/java/com/azion/Azion/cpp/cmake-build-debug/
/server/Azion/src/main/java/com/azion/Azion/cpp/build/
/server/Azion/src/main/java/com/azion/Azion/cpp/out/
/server/Azion/src/main/java/com/azion/Azion/cpp/cmake-build-debug/*
/server/Azion/src/main/java/com/azion/Azion/cpp/build/*
/server/Azion/src/main/java/com/azion/Azion/cpp/out/*
/server/Azion/src/main/java/com/azion/Azion/cpp/CMakeFiles/
/server/Azion/src/main/java/com/azion/Azion/cpp/CMakeFiles/*
/desktop/Output/
/desktop/Azion Desktop/packages/Microsoft.Web.WebView2.1.0.2739.15/build/
/desktop/Azion Desktop/Azion Desktop/bin/
/desktop/Output/
/desktop/Azion Desktop/.vs/
/client/azion-f/app/func/key.config.js
/server/Azion/src/main/java/com/azion/Azion/Cred/client_secret_270909640152-qecloukuv3l54l652arm38m8nh90atac.apps.googleusercontent.com.json
/server/Azion/src/main/java/com/azion/Azion/Cred/
