# keys
keys/
*/build/
*/build*/
*/*build*/
/.idea/
*/init-db.sql

vs/
/node_modules/

.env

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
####################################### Spring Boot ########################################
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/server/nohup.out
/desktop/buildWin/
/desktop/cmake-build-debug/
/server/init-db.sql
/server/Azion/src/test/
/server/Azion/src/main/java/com/azion/Azion/cpp/cmake-build-debug/
/server/Azion/src/main/java/com/azion/Azion/cpp/build/
/server/Azion/src/main/java/com/azion/Azion/cpp/out/
/server/Azion/src/main/java/com/azion/Azion/cpp/cmake-build-debug/*
/server/Azion/src/main/java/com/azion/Azion/cpp/build/*
/server/Azion/src/main/java/com/azion/Azion/cpp/out/*
