@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --foreground: 242, 242, 242;
        --background: linear-gradient(to bottom, rgba(13, 14, 13, 0.9), rgba(7, 9, 10, 0.9));
        --muted: 115, 115, 115;
        --accent: 37, 99, 235;
        --lightAccent: 14, 165, 233;
        --neonAccent: 102, 252, 242;
    }

    body {
        background: var(--background);
        color: rgb(var(--foreground));
    }
}

.gradient-text {
    background: linear-gradient(to top, rgba(14, 165, 233, 0.8), rgba(37, 99, 235, 0.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; /* ensures it stays on the same line */
    white-space: nowrap; /* prevents wrapping */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-form {
    background: linear-gradient(to right, rgba(10, 56, 87, 0.7), rgba(33, 198, 231, 0.7));
    width: 40%;
    height: 100%;
}

.custom-circle {
    width: 100px; /* Set a specific width */
    height: 100px; /* Set the height to the same value */
    border-radius: 50%; /* This makes it a perfect circle */
    object-fit: cover; /* Ensures that any image inside fits well */
}

.neon-text {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 1px rgba(215, 215, 216, 0.8),
    0 0 2px rgba(197, 198, 199, 0.7),
    0 0 3px rgba(197, 198, 199, 0.6),
    0 0 4px rgba(197, 198, 199, 0.5),
    0 0 5px rgba(197, 198, 199, 0.4),
    0 0 6px rgba(197, 198, 199, 0.3),
    0 0 7px rgba(197, 198, 199, 0.2),
    0 0 8px rgba(197, 198, 199, 0.1);
}

.radial-progress {
    --size: 10rem;
    --thickness: 1rem;
    --value: 70;
    --color-primary: blue;

    position: relative;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: conic-gradient(var(--color-primary) calc(var(--value) * 1%), transparent 0);
    mask: radial-gradient(farthest-side, transparent calc(100% - var(--thickness)), white 0);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - var(--thickness)), white 0);
}

.radial-progress::before {
    content: attr(data-progress);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--size) / 4);
    color: var(--color-primary);
    font-weight: bold;
    text-align: center;
    z-index: 10;
    pointer-events: none;
    width: 100%;
    height: 100%;
}


#tooltip {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    transition: opacity 0.2s;
    opacity: 0;
}

